<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
		스프링에 내장된 기본 유효범위 값
		singleton		: 스프링 컨터이너당 하나의 인스턴스(기본값)
		prototype		: 사용할 때마다 새 인스턴스 생
		request			: HTTP 요청당 하나의 인스턴스. Spring MVC같이 웹 환경에서 사용할 때만 유효함.
		session			: HTTP 세션당 하나의 인스턴스. Spring MVC같이 웹 환경에서 사용할 떄만 유효함.
		global-session	: 전역 HTTP 세션(global HTTP session)당 하나의 인스턴스. 포틀릿 환경에서 사용할 때만 유효함.
	 -->

	<!-- 빈 유효범위 지정 -->
	<bean id="ticket1" class="kr.co.swtest.example.spring.bean.Ticket" scope="singleton" />
	<bean id="ticket2" class="kr.co.swtest.example.spring.bean.Ticket" scope="prototype" />
</beans>