<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 빈의 초기화와 정리작업 -->
	<bean id="room" class="kr.co.swtest.example.spring.bean.Room" init-method="turnOnLights" destroy-method="turnOffLights" />

	<!--
		모든 빈에 init-method와 destory-method 디폴트 값 지정하기
		<beans
			xmlns="http://www.springframework.org/schema/beans"
		    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
			default-init-method="turnOnLights"
			default-destroy-method="turnOffLights">

		...

		</beans>

		각 빈을 생성할 때 마다 turnOnLights() 메서드를 호출하고, 각 빈을 소멸시킬 때 마다 turnOffLights() 메서드를 호출할 것이다.
		해당 메서드가 없으면 그냥 무시한다.
	 -->
</beans>